@import "variables";

// *********** corps ******************

body{
    color: black !important;
}

.CV-Fond-Carte{
    background-color:$CV-Fond-Carte ;
}

.CV-Fond-Nav{
    background-color: $CV-Fond-Nav;
}

.width100{
    width: 100%;
}
// ***************  Menu fixes et side bar (tests) *********************

.menuFixe{
    position:fixed;
    z-index: 100;
    top: 60px;
    left: 10px;
}
.sidebar{
    background-color: $CV-Fond-Carte;
}
.marginTopMenu{
    margin-top: 10px;
}

// ************  Gestion de l'affichage de la galerie **********************

.CV-flex-gallery-row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
}
.CV-flex-gallery-column {
    flex: 25%;
    max-width: 25%;
    padding: 10px;
}
.CV-flex-gallery-column div {
    margin-top: 8px;
    padding-left: 0px;
}
.CV-flex-gallery-column div > div{
    padding-left: 20px;
}
.CV-flex-gallery-column img, p {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 10px;
    text-align: center;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
    .CV-flex-gallery-column {
        flex: 50%;
        max-width: 50%;
    }

    .CV-top-nav {
        display: none;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .CV-flex-gallery-column {
        flex: 100%;
        max-width: 100%;
    }
}



// ******************* Pages de construction ***********************
.corpusConstruction {
    margin-top: 110px;
    min-height: 800px;
    background-image: url('images/others/CV_other12.jpg');
    background-repeat: no-repeat;
    background-position: center;
}
.scale_CV:hover{
    transform: scale(1.1) translateX(10px) rotate(-10deg);
    background-color: hsla(322,20%,35%) !important;
}


// ******************  Footer ******************************
.CV-footer{
    margin-top: auto;
    background-color: $CV-Fond-Nav;
    text-align: center;
}


.CV-fontColorRed {
    /*color: hsl(344, 88%, 56%);*/
    color: $CV-Fond-Carte;
}

/******************** les images backgrounds  *************/
.no-webp{
  .CV-Bg1
  {
    background-image: url("images/others/large1_009_1.jpg");
  }
  .CV-Bg2
  {
    background-image: url("images/others/large_000_1.jpg");
  }
  .CV-Bg3
  {
    background-image: url("images/others/CV_fond-8.jpg");
  }
}

.webp{
  .CV-Bg1
  {
    background-image: url("images/others/large1_009_1.webp");
  }
  .CV-Bg2
  {
    background-image: url("images/others/large_000_1.webp");
  }
  .CV-Bg3
  {
    background-image: url("images/others/CV_fond-8.webp");
  }
}


/* ************** En mode colonnes **************/

.CV-flex-container-Column{
    flex-direction:column;
    align-items:center;
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-around;
    flex: 4 1 0;

    // h1{
    //     font-size: 40px;
    //     margin-left:auto;
    //     margin-right:auto;
    //     flex: 1 1 100px;
    //     padding-top: 20px;
    // }
}


.CV-flex-container-column-div2 {
    margin: 20px;
    max-width: 70%;
    margin-left:auto;
    margin-right:auto;
    padding: 20px;
}

// .flex-container-home-Column{
//     display: flex;
//     flex-direction:column;
//     align-items:center;
//     flex-wrap: wrap;
//     justify-content: space-around;
//
// }
// .flex-container-home-Column div:first-child {
//         flex: 0 1 25%;
// }

// .CV-flex-container-Agenda-Column h1{
//     font-size: 40px;
//     color: $CV-Fond-Nav;
//     margin-left:auto;
//     margin-right:auto;
//     flex: 1 1 100px;
//     padding-top: 20px;
// }

/*********** En mode horizontal *******************/

.CV-global{
    box-sizing:border-box;
    width:100%;
    display: flex;
    margin-bottom: 10px;
    margin-top: 10px;
}
.CV-flex-container-Horizontal{
    display: flex;
}
.CV-flex-container-Horizontal div {
    flex: none;
    width: 300px;
    align-self: flex-start;
}

.CV-flex-right{
  align-self: flex-end;
}

.CV-flex-Horizontal {
    display: flex;
    margin-bottom: 10px;
    margin-top: 10px;
    align-content: center;
}

.CV-flex-Horizontal div:first-child{
    flex: 1 0 50%;
    align-self: center;
    margin: 20px;
}
.CV-flex-Horizontal img {
    flex: 0 2 20%;
    padding-block: 10px;
    padding-right: 10px;
    margin: 20px;
}

.CV-flex-Horizontal-right {
    display: flex;
    margin-bottom: 10px;
    margin-top: 10px;
    align-content: center;
}

.CV-flex-Horizontal-right :nth-child(even){
    flex: 1 0 50%;
    margin: 20px;
}
.tuile-flex-horizontal-HC{
    display: flex;
    justify-content: space-between;
    align-content: space-around;
    margin-top: 10px;
}
.tuile-flex-horizontal-HC div{
    flex: 1 0 40%;
    padding:5px;
}

// ***************************

.CV-Bouton{
    margin-bottom: 5px;
    width: max-content;

}

/******************** utlise pour la home page  *************/
// grid container

// .grid-container {
//     width: 90%;;
// }

.grid-container-left {
    float: left;
}

.grid-container-center {
    text-align: center;
}

// .grid-container-center h1 {
//     text-align: center;
// }

.grid-container-left:first-child {
    margin-left: 0%;
}

.grid-container-right {
    float: left;
}

.CV-row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.CV-column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;

    img {
    margin-top: 8px;
    vertical-align: middle;
    }
}

/*************** Gestion des puces de liste ***********************/

.CV-ul-shoes {
    list-style: url("/images/common/shoes_search_26x26.ico");
  }
  .CV-ul-vtt {
    list-style: url("/images/common/icontexto_VTT_helme_26x26t.ico");
  }

/************** Cadres pages activity **********************************/

.CV-cadreCard {
  padding: 10px 50px;
  margin: 10px 15px;
  width: 90%;
}
