@import "variables";

// Pour gérer l'effet parallax

%parallax {

    /* Set a specific height */
    height: 300px;
    width: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1366px) {
    %parallax {
        background-attachment: scroll;
    }
}


.parallaxTitle {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 20px;
}

/************ */

.parallax_1 {
    @extend %parallax;
}

.parallax_2 {
    @extend %parallax;
}

.parallax_3 {
    @extend %parallax;
}

.parallax_4 {
    @extend %parallax;
}

.parallax_5 {
    @extend %parallax;
}

.parallax_6 {
    @extend %parallax;
}

.no-webp{
  .parallax_1 {
      /* The image used */
      background-image: url("images/parallax/parallax_1.jpg");
  }

  .parallax_2 {
      /* The image used */
      background-image: url("images/parallax/parallax_2.jpg");
  }

  .parallax_3 {
      /* The image used */
      background-image: url("images/parallax/parallax_3.jpg");
  }

  .parallax_4 {
      /* The image used */
      background-image: url("images/parallax/parallax_4.jpg");
  }

  .parallax_5 {
      /* The image used */
      background-image: url("images/parallax/parallax_5.jpg");
  }

  .parallax_6 {
      /* The image used */
      background-image: url("images/parallax/parallax_6.jpg");
  }
}

.webp{
  .parallax_1 {
      /* The image used */
      background-image: url("images/parallax/parallax_1.webp");
  }

  .parallax_2 {
      /* The image used */
      background-image: url("images/parallax/parallax_2.webp");
  }

  .parallax_3 {
      /* The image used */
      background-image: url("images/parallax/parallax_3.webp");
  }

  .parallax_4 {
      /* The image used */
      background-image: url("images/parallax/parallax_4.webp");
  }

  .parallax_5 {
      /* The image used */
      background-image: url("images/parallax/parallax_5.webp");
  }

  .parallax_6 {
      /* The image used */
      background-image: url("images/parallax/parallax_6.webp");
  }
}
