@import "variables";

// Page en construction

  /* Position text in the top-left corner */
  .topleft {
    position: absolute;
    top: 0;
    left: 16px;
  }

  /* Position text in the middle */
  .middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 25px;
  }
  .middle h1, div{
    color: white;
  }

  /* Image position */
  .building {
    height: 800px;
    width: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url('images/common/CV_Construction12.jpg');
    background-position: center;
    /* Scale and zoom in the image */
    background-size: cover;
    /* Add position: relative to enable absolutely positioned elements inside the image (place text) */
    position: absolute;
}
