.navItem{
  background: linear-gradient(to top, $w3-theme 0%, $w3-theme 6px, transparent 7px) no-repeat;
  background-size: 0 100%;
  transition: background-size 0.2s;
}

.navItem:hover{
  background-color: transparent !important;
  color: white !important;
  background-size: 100% 100%;
}

.navActive{
  background-size: 100% 100%;
}

.navBtnlogout:hover
{
    background-color: transparent !important;
    color: white !important;
}
