$w3-amber: #ffc107;
$w3-aqua: #00ffff;
$w3-blue: #2196F3;
$w3-light-blue: #87CEEB;
$w3-brown: #795548;
$w3-cyan: #00bcd4;
$w3-blue-gray: #607d8b;
$w3-green: #4CAF50;
$w3-light-green: #8bc34a;
$w3-indigo: #3f51b5;
$w3-khaki: #b4aa50;
$w3-lime: #cddc39;
$w3-orange: #ff9800;
$w3-deep-orange: #ff5722;
$w3-pink: #a75075;
$w3-purple: #9c27b0;
$w3-deep-purple: #673ab7;
$w3-red: #f44336;
$w3-sand: #fdf5e6;
$w3-teal: #009688;
$w3-yellow: #d2be0e;
$w3-white: #fff;
$w3-black: #000;
$w3-gray: #757575;
$w3-light-gray: #f1f1f1;
$w3-dark-gray: #3a3a3a;
$w3-pale-red: #ffe7e7;
$w3-pale-green: #e7ffe7;
$w3-pale-yellow: #ffffcc;
$w3-pale-blue: #e7ffff;

$dark-red: #8d1007;
$dark-grey: #4f4f4f;
$light-grey: #f9f9f9;

/********** Gestion des couleurs du CV *************/

$CV-Fond-Body: hsla(0, 0%, 100%, 1);
$CV-Fond-Shadow: hsla(19, 40%, 61%, 0.5);
$CV-Fond-Nav: rgb(39, 138, 64);
$CV-Top-Nav:hsla(135, 46%, 22%, 0.6);

$CV-TimeLine:hsla(135, 37%, 53%, 1);
$CV-TimeLine-Round:hsla(135, 46%, 22%, 1);

$CV-Fond-Carte: #eafbe38a; // #eafbe38a
$CV-Titre: hsl(133, 41%, 27%);

/********** Gestion des tailles **********/

$cv-largeurMenuMobile: 150px;
$cv-hauteurMenuMobile: 60px;
$cv-hauteurMenu: 180px;
