@import "variables";

// Top et Barre de navigation

.CV-nav {
    position: fixed;
    min-height: fit-content;
    padding-top: 10px;
    width:100%;
    background-color: white;
}
.CV-top-nav {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
}
.CV-Top-Nav div:first-child {
    display: flex;
    flex-direction: column;
}
.CV-Logo {
    padding-left: 40%;
}

.CV-Shadow{
    text-shadow: 1px 1px $CV-Fond-Shadow;
    align-self: center;
    text-align: center;
    flex: 1 1 75%;
}
.CV-bottom-nav {
    background-color: $CV-Fond-Nav;
    width: 100%;
    overflow: hidden;
}

.CV-bottom-nav a {
    background-color: $CV-Fond-Nav;
    color: white;
}

// corps

body{
    color: black !important;
}

.CV-Orange{
    background-color: $CV-Fond-Carte;
}


.CV-global{
    box-sizing:border-box;
    width:100%;
    display: flex;
    margin-bottom: 10px;
    margin-top: 100px;
}

.fond1, .fondVache1 {
    height: 50%;
    width: 100%;
    background-position: 50% 25%;
    background-repeat: no-repeat;
    background-size: cover;
}


.fond2, .fond3, .fondSentier1{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.no-webp{
    .fond1{
        background-image: url("images/fonds/Small/small1_009.jpg");
    }

    .fond2{
        background-image: url("images/fonds/Medium/medium1_008.jpg");
    }

    .fond3{
        background-image: url("images/fonds/Medium/medium1_007.jpg");
    }
    .fondVache1{
        background-image: url("images/fonds/Small/small1_006.jpg");
    }
    .fondSentier1{
        background-image: url("images/fonds/Medium/medium1_010.jpg");
    }
}

.webp{
    .fond1{
        background-image: url("images/fonds/Small/small1_009.jpg");
    }

    .fond2{
        background-image: url("images/fonds/Medium/medium1_008.jpg");
    }

    .fond3{
        background-image: url("images/fonds/Medium/medium1_007.jpg");
    }
    .fondVache1{
        background-image: url("images/fonds/Small/small1_006.jpg");
    }
    .fondSentier1{
        background-image: url("images/fonds/Medium/medium1_010.jpg");
    }
}

.width100{
    width: 100%;
}
// Menu fiwes et side bar (tests)

.menuFixe{
    position:fixed;
    z-index: 100;
    top: 60px;
    left: 10px;
}
.sidebar{
    background-color: $CV-Fond-Carte;
}

// Gestion de l'affichage de la galerie

.CV-flex-gallery{
    width:300px;
    height: 300px;
    border: solid 2px black;
    background-color: #87CEEB;
}
.marginTopMenu{
    margin-top: 10px;
}

// Pages de construction
.corpusConstruction {
    margin-top: 110px;
    min-height: 800px;
    background-image: url('images/fonds/Medium/medium1_007.jpg');
    background-repeat: no-repeat;
    background-position: center;
}
.scale_CV:hover{
    transform: scale(1.1) translateX(10px) rotate(-10deg);
    background-color: hsla(322,20%,35%) !important;
}

.marginTopContainerHome{
    margin-top: 10px;
}

// Footer
.CV-footer{
    margin-top: auto;
    background-color: $CV-Fond-Nav;
    text-align: center;
}


.CV-fontColorRed {
    /*color: hsl(344, 88%, 56%);*/
    color: $CV-Fond-Carte;
}

/*
    Concerne la page d'accueil HomePage
*/

.CV-TopContainerHome{
    margin-left:auto;
    margin-right:auto;
}

/*En mode colonnes*/

.CV-flex-container-Column{
    flex-direction:column;
    align-items:center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex: 4 1 0;
}

.CV-flex-container-Column h1{
    font-size: 40px;
    margin-left:auto;
    margin-right:auto;
    flex: 1 1 100px;
    padding-top: 20px;
}

/*En mode horizontal*/

.CV-flex-container-Horizontal{
    padding: 0 10px;
    display: flex;
}

.tuile-flex-horizontal-HC{
    display:flex;
    justify-content:space-around;
    align-content:space-around;

}
.tuile-flex-horizontal-HC div{
    padding:5px;
}

// ***************************

.CV-Bouton{
    margin-bottom: 5px;
    width: max-content;

}
