.CV-nav {
/*
    background-color: hsl(163, 88%, 56%);*/
    position: fixed;
}

/* la complementaire => hsl(344, 88%, 56%) => vu sur  https://colorpicker.me/ */

.fond1 {
    min-height: 200px;
    max-height: 400px;
    width: 100%;
    background-position: center;
}


.fond2, .fond3, .fondVache1, .fondSentier1{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.no-webp{
    .fond1{
        background-image: url("/images/fonds/Medium/medium1_009.jpg");
    }

    .fond2{
        background-image: url("images/fonds/Medium/medium1_008.jpg");
    }

    .fond3{
        background-image: url("images/fonds/Medium/medium1_007.jpg");
    }
    .fondVache1{
        background-image: url("images/fonds/Medium/medium1_006.jpg");
    }
    .fondSentier1{
        background-image: url("images/fonds/Medium/medium1_010.jpg");
    }
}

.webp{
    .fond1{
        background-image: url("images/fonds/Medium/medium1_009.jpg");
    }

    .fond2{
        background-image: url("images/fonds/Medium/medium1_008.jpg");
    }

    .fond3{
        background-image: url("images/fonds/Medium/medium1_007.jpg");
    }
    .fondVache1{
        background-image: url("images/fonds/Medium/medium1_006.jpg");
    }
    .fondSentier1{
        background-image: url("images/fonds/Medium/medium1_010.jpg");
    }
}

.width100{
    width: 100%;
}
.menuFixe{
    position:fixed;
    z-index: 100;
    top: 60px;
    left: 10px;
}
.CV-flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.CV-flex-gallery{
    width:300px;
    height: 300px;
    border: solid 2px black;
    background-color: #87CEEB;
}
.marginTopMenu{
    margin-top: 10px;
}
.corpusConstruction {
    height: 90%;
    background-image: url('images/fonds/Medium/medium1_007.jpg');
    background-repeat: no-repeat;
    background-position: center;
}
.scale_CV:hover{
    transform: scale(1.1) translateX(10px) rotate(-10deg);
    background-color: hsla(322,20%,35%) !important;
}

.marginTopContainerHome{
    margin-top: 10px;
}


.CV-footer{
    margin-top: auto;
}

.CV-global{
    box-sizing:border-box;
    width:100%;
    display: flex; 
    min-height:100%; 
}
.sidebar{
    
  
}

.CV-container{
    padding: 0 10px;
    display: flex;
}

.CV-fontColorRed {
    color: hsl(344, 88%, 56%);
}

.CV-TopContainerHome{
    margin-left:auto;
    margin-right:auto;
}
.CV-flex-container{
    flex-direction:column;
    align-items:center;
}
    
.CV-flex-container h1{
    font-size: 40px;
    background: hsla(130, 50%, 38%, 0.69) !important;
    margin-left:auto;
    margin-right:auto; 
}

.tuile-flex-horizontal-HC{
    display:flex;
    justify-content:space-around;
    align-content:space-around;
    
}
.tuile-flex-horizontal-HC div{
    padding:5px;
}
