@import "~@fortawesome/fontawesome-free/css/fontawesome.css";
@import "~@fortawesome/fontawesome-free/css/solid.css";
@import "~@fortawesome/fontawesome-free/css/brands.css";

@import "mixin";
@import 'w3';
@import "w3-theme-green";
@import "header";

/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select,textarea{margin:0}html{box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}td:not([align]),th:not([align]){text-align:left}

html, body, #swup{
    min-height: 100%;
}

h1,h2,h3,h4,h5,h6{
	font-family: Verdana, sans-serif;
}
.transition-fade {
    transition: 0.3s;
    opacity: 1;
    padding-top:70px;
    margin:0 10px;
}

html.is-animating .transition-fade {
    opacity: 0;
}
ul{
    list-style: url("/images/common/shoes_search_26x26.ico");
}
