@import "~@fortawesome/fontawesome-free/css/fontawesome.css";
@import "~@fortawesome/fontawesome-free/css/solid.css";
@import "~@fortawesome/fontawesome-free/css/brands.css";

@import "mixin";
@import 'w3';
@import "w3-theme-green";
@import "header";

html, body, #swup{
    height: 100%;
}

.transition-fade {
    transition: 0.3s;
    opacity: 1;
}

html.is-animating .transition-fade {
    opacity: 0;
}

.fond1, .fond2, .fond3, .fondVache1, .fondSentier1{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}

.no-webp{
    .fond1{
        background-image: url("/images/fonds/Medium/medium1_009.jpg");
        height: 100%;
    }

    .fond2{
        background-image: url("images/fonds/Medium/medium1_008.jpg");
    }

    .fond3{
        background-image: url("images/fonds/Medium/medium1_007.jpg");
    }
    .fondVache1{
        background-image: url("images/fonds/Medium/medium1_006.jpg");
        height: 100%;
    }
    .fondSentier1{
        background-image: url("images/fonds/Medium/medium1_010.jpg");
    }
}

.webp{
    .fond1{
        background-image: url("images/fonds/Medium/medium1_009.jpg");
        height: 100%;
    }

    .fond2{
        background-image: url("images/fonds/Medium/medium1_008.jpg");
    }

    .fond3{
        background-image: url("images/fonds/Medium/medium1_007.jpg");
    }
    .fondVache1{
        background-image: url("images/fonds/Medium/medium1_006.jpg");
        height: 100%;
    }
    .fondSentier1{
        background-image: url("images/fonds/Medium/medium1_010.jpg");
    }
}

.width100{
    width: 100%;
}
.menuFixe{
    position:fixed;
    z-index: 100;
    top: 60px;
    left: 10px;
}
.jj-flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.jj-flex-galery{
    width:300px;
    height: 300px;
    border: solid 2px black;
    background-color: #87CEEB;
}
.marginTopMenu{
    margin-top: 10px;
}
