/********** Gestion des couleurs du CV *************/

.parallax_1 {
  /* The image used */
  background-image: url("/images/common/large_004_1.jpg");
  /* Set a specific height */
  height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */

@media only screen and (max-device-width: 1366px) {
  .parallax_1 {
    background-attachment: scroll;
  }
}

